{% extends 'base.html.twig' %}

{% block title %}New Vaquilla{% endblock %}

{% block body %}
    <h1>Create new Vaquilla</h1>

    {{ include('vaquilla/_form.html.twig') }}

    <a href="{{ path('vaquilla_index') }}">back to list</a>
{% endblock %}
